.app-containter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  min-width: var(--default-min-width);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.content-container {
  z-index: 1;
  width: 80%;
  max-width: 1200px;
}

.main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  max-width: 1200px;
  min-height: 900px;
  padding-bottom: 17.2rem;
}
